@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

:root {
  --menu-highlight-height: 10vh;
  --menu-highlight-width: 14vw;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#right-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: -3;

  /* TODO insert image/gif/whatever */
  background-color: #093ab0;
}

#left-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33%;

  z-index: -2;

  background-color: #fff;
  clip-path: polygon(100% 0%, 40% 100%, 00% 100%, 0% 0%);
}

#left-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14.5vw;
  
  /* Use text-shadow to make extra bold */
  text-shadow: 0px 2px, 2px 0px, 2px 2px;

  text-align: center;

  text-wrap: none;
  white-space:nowrap;

  letter-spacing: -20px;

  /* Makes it easier to rotate and move */
  height: 0px;
  width: 0px;

  transform: rotate(90deg) skew(-10deg) translateY(-12vw) translateX(-40px);

  position: absolute;
  top: 0;
  left: 0;
}

#item-num {
  color: #747474;
  letter-spacing: -26px;
}

#main {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  letter-spacing: -1px;

  /* Use text-shadow to make extra bold */
  text-shadow: 0px 2px, 2px 0px, 2px 2px;

  height: 100%;

  color: #67fdfc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

#main-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 240px;
}

#main-inner span {
  margin: 0;
  padding: 0;
  height: 1.05em;

  width: 20vw;

  cursor: pointer;
  user-select: none;

  z-index: 2;

  /* God bless the cubic bezier: https://stackoverflow.com/a/29786350/13438741 */
  transition: transform 0.05s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.behind {
  z-index: 1;
}

.menu-hover {
  color: #000 !important;
  z-index: 4 !important;
}

#item,
#stats,
#system {
  color: #0ccafd;
}

#quest {
  color: #377bf9; 
}

#menu-item-highlight {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 3;

  width: var(--menu-highlight-width);
  height: var(--menu-highlight-height);

  background-color: #fff;
  clip-path: polygon(100% 0%, 0% 100%, 84% 100%);
}

/* This is the same thing but it has an animation wow */
#menu-item-highlight-red-above,
#menu-item-highlight-red {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 3;

  width: var(--menu-highlight-width);
  height: var(--menu-highlight-height);

  pointer-events: none;
}

#menu-item-highlight-red-above-inner,
#menu-item-highlight-red-inner {
  /* The outer will have lots of transform and stuff applied, so we need to make sure it will still line up with the inner */
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 0, 34, 0.4);
  clip-path: polygon(100% 0%, 0% 100%, 84% 100%);

  animation: highlight 1.5s infinite;
}

#menu-item-highlight-red-above {
  z-index: 5;
}

@keyframes highlight {
  /* Basically just bounces its scale to 1.1 and back. Twice per cycle. */
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}